{% extends "index.html" %} {% block content %}
<div class="posts">
  {% for page in term.pages | filter(attribute="draft", value=false) |
  sort(attribute="date") | reverse %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ page.permalink }}">
        {{ page.title }}
      </a>
    </h1>
    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
    <span class="post-date"
      >{{ page.content | safe | truncate(length=300) }}
      <a href="{{ page.permalink }}">
        lire
      </a>
    </span>
  </div>
  {% endfor %}
</div>
{% endblock content %}
